@media (prefers-color-scheme: dark) {
    .page {
        background-image: url(../images/cover-image-dark.png);
        /* Используем одни и те же переменные */
        --background-color: #000028;
        --accent-color: #ff0070;
        --heading-color: #db00ff;
        --hover-border-color: rgba(255, 0, 112, 0.4);
        --menu-color: #ff0070;
        --text-color: #f1b2ce;
        --title-decor-color: #000028;
        --title-color: #ff0070;
        --header-rec-visibility: flex;
    }
}

/* Тёмная тема вручную через класс */
.page.theme_dark {
    background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --accent-color: #ff0070;
    --heading-color: #db00ff;
    --hover-border-color: rgba(255, 0, 112, 0.4);
    --menu-color: #ff0070;
    --text-color: #f1b2ce;
    --title-decor-color: #000028;
    --title-color: #ff0070;
    --header-rec-visibility: flex;
}