
.page.theme_light {
    /* === Цветовая палитра для светлой темы === */
    --background-color: #fff1f7; /* Основной фон */
    --accent-color: #ff8dcb; /* Акцентный цвет */
    --heading-color: #ffc2e6; /* Цвет заголовков */
    --hover-border-color: rgba(50, 49, 45, 0.4); /* Цвет границы при наведении */
    --menu-color: #353430; /* Цвет меню */
    --text-color: #353430; /* Основной текст */
    --title-decor-color: #353430; /* Декоративный цвет заголовков */
    --title-color: #353430; /* Цвет заголовков */
    --header__rec-visibility: hidden; /* Скрытие лампочки */
    background-image: url(../images/cover-image-light.png);
}
