:root {

    /* === Цветовая палитра === */

    --background-color: #FFF1F7; /* Основной фон */
    --text-color: #353430; /* Основной цвет текста */
    --heading-color: #ffc2e6; /* Цвет заголовков */
    --title-decor-color: var(--text-color); /* Цвет декора заголовков */
    --title-color: var(--text-color); /* Цвет заголовков */
    --accent-color: #ff8dcb; /* Акцентный цвет */
    --menu-color: var(--text-color); /* Цвет меню */
    --hover-border-color: rgba(50, 49, 45, 0.4); /* Цвет границы при наведении */

    /* === Шрифты и размеры === */

    --font-family: 'IBM Plex Mono'; /* Основной шрифт */
    --font-size: 18px; /* Базовый размер шрифта */
    --line-height: 1.3; /* Межстрочный интервал */

    /* === Отступы === */

    --general-padding: 10px; /* Общий отступ */
    --main-gap: 50px; /* Разрыв между основными блоками */
    --main-padding-block: 40px; /* Внутренний отступ для основного блока */

    /* === Дополнительные переменные === */

    --menu-margin: 65px; /* Отступ для меню */
    --promo-margin: 55px; /* Отступ для промо-блока */
    --header-rec-visibility: none; /* Отображение rec */
}